<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/start.css')}}" />
<html lang="de">
<head>
    <title>ASVÖ Verein - SV Forelle Steyr - Tennis</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="All-Area">
        <div class="icons">
            <a href="https://www.facebook.com/profile.php?id=100083233896967" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/sv_forelle_steyr_tennis/?igshid=YmMyMTA2M2Y%3Df" class="fa fa-instagram"></a>
        </div>
        <div class="Content-Area">
            <p>Diese Homepage soll das Vereinsleben des "SV Forelle Steyr - Tennis" repräsentieren 
            und dient in erster Linie als Informationsplattform und Unterhaltung für die Mitglieder unseres Vereins.<br>
            Vielleicht finden auch Nichtmitglieder Spaß an unserem Treiben und schließen sich der Gemeinschaft an.
            </p>
            <p class="Message">Neumitglieder sind jederzeit willkommen!</p>
            <p class="Contact">Sportverein Forelle Steyr - Tennis<br>
                Kematmüllerstraße 1a<br>
                A-4400 Steyr<br>
                Tel.: +43 681/20654506<br>
                ZVR 049244579
            </p>
        </div>
        <div class="Link-Area">
            <ul class="Link-Area-ul">
                <li><a href="https://www.ooetv.at/liga/allgemeine-klasse/gruppe/g/207223.html">Mixed</a></li>
                <li><a href="https://www.ooetv.at/liga/allgemeine-klasse/gruppe/g/207152.html">Herren-1</a></li>
                <li><a href="https://www.ooetv.at/liga/allgemeine-klasse/gruppe/g/207154.html">Herren-2</a></li>
                <li><a href="https://www.ooetv.at/liga/allgemeine-klasse/gruppe/g/207156.html">Herren-3</a></li>
                <li><a href="https://www.ooetv.at/liga/allgemeine-klasse/gruppe/g/207209.html">Herren-4</a></li>
                <li><a href="https://www.ooetv.at/liga/allgemeine-klasse/gruppe/g/207221.html">Herren Hobby 6,5</a></li>
                <li><a href="https://www.ooetv.at/liga/senioren/gruppe/g/207304.html">Herren +45</a></li>
                <li><a href="https://www.ooetv.at/liga/senioren/gruppe/g/207317.html">Herren +55</a></li>
                <li><a href="https://www.ooetv.at/liga/senioren/gruppe/g/207318.html">Herren +60</a></li>
                <li><a href="https://www.ooetv.at/liga/senioren/gruppe/g/207342.html">Herren +60 Doppel</a></li>
                <li><a href="https://www.ooetv.at/liga/senioren/gruppe/g/207325.html">Herren +65</a></li>
                <li><a href="https://www.ooetv.at/liga/senioren/gruppe/g/207313.html">Herren +70</a></li>
            </ul>
        </div>  
    </div>
</body>


</html>
