{% include 'nav.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='css/links.css')}}" />
<div class="Links">
    <ul>
        <li><a href="http://ooetv-austria.liga.nu/">http://ooetv-austria.liga.nu/</a>
            <p>Oberösterreichischer Tennisverband</p>
        </li>
        <li><a href="http://www.forellesteyr.at">http://www.forellesteyr.at</a><p>SV Forelle Steyr - Camping, Kanu, Segeln, Stocksport und Tennis</p></li>
        <li><a href="http://www.oetv.at">http://www.oetv.at</a><p>Die offizielle Website des österreichischen Tennisverbands</p></li>
        <li><a href="http://www.tennis-academy.com/">http://www.tennis-academy.com/"</a><p>Tennis Urlaubsangebote</p></li>
        <li><a href="http://www.asvoe.at/de">http://www.asvoe.at/de</a><p>Allgemeiner Sportverband Österreichs</p></li>
        <li><a href="http://www.asvo-sport.eu/">http://www.asvo-sport.eu/</a><p>Allgemeiner Sportverband OÖ</p></li>
        <li><a href="http://www.e-steyr.com">http://www.e-steyr.com</a><p>Communityportal aus Steyr für Steyr</p></li>
    </ul>
</div>
