{% include 'nav.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='css/nw.css')}}" />
<script src="{{url_for('static', filename='js/nachwuchs.js')}}" defer></script>
<div class="All-Area" style=" width: 100%;
height: 54%;
background: linear-gradient(0deg,rgb(250, 135, 72),rgb(252,171,126));
display: flex;
justify-content: center;
align-items: center;">
    <div class="content_nw">
        <div class="head">
            <p>Auch heuer erbrachte die Jugend des SV Forelle Steyr bei der MMS des OÖTV  wieder großartige Leistungen.<br>
            Neben zwei Vizemeisterschaften konnte das Junior Team 1 auch heuer wieder den Titel einfahren.<br>
            Die Mannschaften im Einzelnen:
        </div>
        <div class="cards"></div>
        <div class="footer">
            <p>Die sportliche Leitung gratuliert den Spielern für ihre Leistungen, dankt den Mannschaftsführern und den Eltern für ihre Unterstützung!</p>
        </div>
    </div>
</div>