<link rel="stylesheet" href="{{url_for('static', filename='css/start.css')}}" />
<img class="logo" src="https://image.jimcdn.com/app/cms/image/transf/dimension=240x10000:format=jpg/path/s34edb015fb9c160d/image/iaa5b760a2cf8e906/version/1279218375/image.jpg">
<div class="title-area">
    <h2>Homepage des SV Forelle Steyr - Tennis</h2>
</div>
<header class="nav_links">
    <nav>
        <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/news">Aktuelle Infos</a></li>
        <li><a href="/platzresavierung">Platzresavierung</a></li>
        <li><a href="/ankündigungen">Ankündigungen</a></li>
        <li><a href="/nachwuchs">Nachwuchs</a></li>
        <li><a href="/fotos">Fotos</a></li>
        <li><a href="/links">Links</a></li>
        <li><a href="/anfahrt">Anfahrt</a></li>
        </ul>
    </nav>
</header>